
.popUpHide{
  visibility: hidden;  
}

.showPopUp{
  visibility: visible;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: auto;
  width: 100%;
  position: absolute;
}

#alert {
  padding: 20px;
  background-color: lightgray;
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
}
  
.closeBtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  align-self: flex-end;
  }