.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #009879;
    border-right: 2px solid #008C71;
    box-shadow: 0 0 10px 5px rgba(0, 0 ,0 ,0.25);
    float: left;
}

.navbar_ {
display: flex;
align-items: center;
background: #008C71;
color: #ffffff;
padding: 12px;
text-decoration: none;
font-weight: bold;
font-size: 0.85rem;
border-bottom: 1px solid #009879;

}

#editor-container {

    width: 50%;
    height: 100%;
    float: right;
    
  }

.ql-toolbar.ql-snow {
    height: 50%;
    width: 50%;
    float: right;
}

/*POPUP*/
.popUpHide{
    visibility: hidden;  
  }
  
  .showPopUp{
    visibility: visible;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1000;
  }
  
  #alert {
    padding: 20px;
    background-color: lightgray;
    color: black;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
    
  .closeBtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end;
    }