/*POPUP*/
.popUpHide{
  display: none;
  position: absolute;
  z-index: 1000;
}

.showPopUp{
  visibility: visible;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  height: auto;
  width: 100%;
  /*position: absolute;*/
  z-index: 1000;
}

#forBtn {
  padding: 20px;
  background-color: lightgray;
  color: black;
  width: 50%;
  display: flex;
  flex-direction: column;
}
  
.closeBtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  align-self: flex-end;
}

body {
  display: flex;
}

html {
  scroll-behavior: smooth;
}

.navbar {
    display: flex;
    width: auto;
    flex-direction: column;
    background: #009879;
    /*border-right: 2px solid #008C71;
    box-shadow: 0 0 10px 5px rgba(0, 0 ,0 ,0.25); 
    height: 100%;*/
    min-height: 100vh;
}

.navBtn {
    display: flex;
    justify-content: center;
    /* background: #008C71; */
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
}

.navBtn:hover {
  color: #333;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 3%;
}

.ql-toolbar.ql-snow {
  height: auto;
  width: 100%;
  background: white; 
  display: flex;
  flex-wrap: wrap;
  justify-content: column;
  align-items: flex-start;
}

#editor-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width:
}

#notes, #formColor {
  display: flex;
  width: 180px;
}

html {
  font-size: 62.5%;
}



form select, 
form button {
  display: inline-block;
  margin: 2rem 1rem 0 0;
  height: 2rem;
}

#formAddButton {
  width: 7rem;
  background-color: #8902FF;
  color: #fff;
  border-radius: 0.4rem;
  border: 0;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}

#formAddButton:hover {
  cursor: pointer;
  background-color: #e600e6;
}


/* Note Styles */
#notes {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  padding-top: 2rem;
}

.note {
  width: 24rem;
  height: 5rem;
  font-size: 1.4rem;
  background: #fff;
  border-radius: 0.4rem;
  padding: 1.2rem 1.6rem;
  margin: 2.4rem 2.4rem 0 0;
  box-shadow: 0 0.9rem 1.2rem rgba(0,0,0, 0.1);
  position: relative;
}

.note-text {
  height: 100%;
  overflow-y: auto;
}

.note::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.8rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.note.red::after {
  background-color: lightcoral;
}

.note.blue::after {
  background-color: lightskyblue;
}
.note.green::after {
  background-color: lightgreen;
}
.note.yellow::after {
  background-color: gold;
}

.note span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.2rem;
  right: 0.2rem;
  border-radius: 0.4rem;
  color: #999;
  text-align: center;
}

.note span:hover {
  color: #333;
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 3%;
}

  